<div id ="search-main-title"><h1 >Search for "<%= params[:query] %>" in Sahara</h1></div>

<% if @search.title[0].to_s =="" %>
	<h3>Has no results</h3>
<% else %>
	<% (0..20).each do |idx| %>
		<section id="sections">
			
			<div class ="search-picture1">
				<%= image_tag @search.image[idx].to_s %>
			</div>
			<div class ="search-description1">	
				<ul>
					<li class="a-title"><%= @search.title[idx] %></li>
					<li class="a-price">$<%= @search.price[idx] %></li>
				</ul>
			</div>
		</section>
	<% end %>
<% end %>
