<!DOCTYPE html>
<html lang="en">
<head>
	<meta name ="viewport" content="width=device-width, initial-scale = 1">
	<meta charset="UTF-8">
	<title>Sahara</title>
	<link rel="stylesheet" type= "text/css" href="normalize.css">
	<link rel="stylesheet" type= "text/css" href="style.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<header class ="nav-bar">
		<nav>
			<ul class = "nav-bar__menu">
				<li class ="nav-bar__menu-item"><a href="#" class="nav-bar__menu-item-link">Logo</a></li>
				<li class ="nav-bar__menu-item"><a href="#" class="nav-bar__menu-item-link">Sahara</a></li>
				<form action="/products" method ="post">
					<li class ="nav-bar__menu-item"><input type="text" class="nav-bar__menu-item-input" placeholder= "Searh in Sahara" /></li>
					<!-- <li class ="nav-bar__menu-item"><input type="submit" value="Submit"></li> -->
				</form>
				
				<li class ="nav-bar__menu-item-left"><a href="/users/sign_in" class="nav-bar__menu-item-link">Login</a></li>
				<!-- <li class ="nav-bar__menu-item-left"><a href="#" class="nav-bar__menu-item-link">Cart</a></li> -->
			</ul>
		</nav>
	</header>
	<div id="slider">
	</div>
	
	<div id ="container">
		
	</div>
</body>
</html>
