<%= link_to 'products/1' do%>
<div id="main-section-products">
	<h1 class="best-seller">Sahara's Best selling product</h1>
	<h2 class="product-name">Apple watch 2 sport edition</h2>	
</div>
<% end %>	
<%= link_to 'Products', products_path %>
