<<<<<<< HEAD
</header>
	<div id="slider">
	</div>
	<div id="slider1">
		<h1 id ="show">Slider comes here</h1>
	</div>
	<div id ="container">
		
	</div>
=======
<h1>Welcome to Sahara</h1>

<h3>The world's largest online market place</h3>
>>>>>>> 7c69df87d9f6b6b021fe733253f22b83c640224d

<%= link_to 'Products', products_path %>
