<%= link_to 'products/3' do%>
<div id="main-section-products">
	<h1 class="best-seller">SAHARA.com</h1>
	<h2 class="product-name">Apple Watch 2-Sport Edition</h2>
</div>
<% end %>

<div class="info">
	<div class="info-item">
		<img class="info-item-image" src="https://d30y9cdsu7xlg0.cloudfront.net/png/2524-200.png" alt="money">
		<h2>The largest peer-to-peer marketplace</h2>
		<p>Looking for something to buy or sell without dealing with retail? Sahara offers the largest community of buyers and sellers for any item.</p>
	</div>
	<div class="info-item">
		<img class="info-item-image" src="https://d30y9cdsu7xlg0.cloudfront.net/png/34255-200.png" alt="Package">
		<h2>Low Shipping Costs for high volume transactions</h2>
		<p>Sahara's logistical operations provide customers with the lowest shipping costs in the market. We even beat eBay, and that other competitor named after a large rainforest.</p>
	</div>
	<div class="info-item">
		<img class="info-item-image" src="https://d30y9cdsu7xlg0.cloudfront.net/png/547815-200.png" alt="Blaster">
		<h2>Han Solo shot first, and George Lucas knows it.</h2>
		<p>I've ran out of ideas for the site, but this is definitely always on my mind. Why does George Lucas INSIST that Greedo shot first??? The original film clearly shows otherwise.</p>
	</div>
</div>
<div class="blank">

</div>
