/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
* {
  box-sizing: border-box;
  font-family: Verdana;
}
body {
    background-image: url('background.jpg');
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    width: 100%;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* --- header --- */
.nav-bar {
	background: black;
	height: 60px;
	position: fixed;
	overflow: hidden;
  	top: 0;
  	width: 100%;
}
.nav-bar__menu {
	margin: 0px;
	padding: 0px;
	display: flex;

}
#show{
	margin: 100px auto 10px auto;
	text-align: center;
	color:white;
	text-shadow: 2px 2px lightgray;
	font-size: 50px;
}
.nav-bar__menu-item {
	padding: 0.9em 0 0.5em 1em;
}
.nav-bar__menu-item-left {
	padding: 0.9em 0 0.5em 1em;
	float: right;
}
.nav-bar__menu-item-link {
	color: white;

}
.nav-bar__menu-item-input {
	color: white;
	height: 30px;
	border: none;
	width: 600px;
	background-color: gray;
	border-radius: 10px;


}
.nav-bar__menu-item-input::placeholder {
  color: lightgray;
  font-size: 18px;
  padding-left: 10px;
}
.nav-bar__menu-item-link:hover {
	color: lightgray;
}
#container{
	width: 85%;
	background-color: rgba(255,255,255,0.7);
	height: 100%;
	margin: auto;
}
#slider{
	background: transparent;
	height: 100px;
	width: 80%;
	margin: auto;
}
#slider1{
	background: transparent;
	height: 200px;
	width: 80%;
	margin: auto;
	background-color: transparent;
}
.search-picture{
	height: 160px;
	width: 20%;
	display: flex;
	border-bottom: 1px  solid lightgray;
	background-color: rgba(255,255,255,0.1);
	padding-left: 20px;
	padding-top: 10px;
	min-width: 140px;

}
.search-description {
	height: 160px;
	width: 69%;
	display: flex;
	/*float: right;*/
	border-bottom: 1px solid lightgray ;
	/*margin: 10px;*/
	background-color: rgba(255,255,255,0.1);
}
.search-picture1{
	height: 160px;
	width: 20%;
	border-bottom: 1px  solid lightgray;
	background-color: rgba(255,255,255,0.1);
	padding-left: 20px;
	padding-top: 10px;
	min-width: 140px;
}

#featured-product-img {
  display: block;
  padding-right: 25em;
  margin: auto;
  height: auto;
  width: 100%;
}

#featured-product-price {
  font-weight: bold;
  color: red;
}

.search-description1{
	height: 160px;
	width: 69%;

	float: right;
	border-bottom: 1px solid lightgray ;
	/*margin: 10px;*/
	background-color: rgba(255,255,255,0.1);
}
#query{
	padding-top: 3px;
	margin: 14px 3px;
	color: white;
	height: 30px;
	border: none;
	width: 600px;
	background-color: lightgray;
	border-radius: 10px;
	padding-left: 15px;
	color: black;
	font-size: 15px;
}
#search-main-title{
	height: 40px;
	text-align: center;
	padding-top: 5px;
	margin-bottom: 20px;
}
/*\#login-container{
	padding: 20px;
}*/
@media only screen and (min-width: 768px){
	/* --- events --- */
	#sections{
	display: flex;
	margin: auto;
	}
}
.actions input{
	height: 20px;
}
#container a {
	font-size: 20px;
}
#main-section-products{
	height: 500px;
	background-color: lightgray;
	background-image: url('apple_watch.jpg');
	opacity: 0.9;
	background-size: 100%;
}
.best-seller{
	padding: 60px;
	font-family: Helvetica;
	color: gray;
	text-shadow: 1px 1px lightgray;
	padding-bottom: 10px;
	font-size: 40px;
	}
.product-name {
	padding-top: 350px;
	font-family: Helvetica;
	color: black;
	padding-left: 60px;

}
.product-name1 {

	font-family: Helvetica;
  font-weight: bold;
	color: black;
	text-align: center;

}

button:hover {
  background-color: #1DF100;
  font-weight: 650;
}
